* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
    --header-font-color: #c9d2da;
    --desc-color: #575f66;
    --bg-color: #f6fbff;
    --footer-font-color: #a9b3bb;
}

body {
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: inherit;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    transition-duration: 0.3s;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.heading.lv2 {
    color: var(--secondary-color);
    font-size: 5rem;
    font-weight: 600;
}

.heading.lv3 {
    color: var(--secondary-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.heading.lv4 {
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.switch {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}

.switch__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    transition: background-color;
    transition-duration: 0.3s;
}

.switch__btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.switch__btn:hover .chevron {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
        hue-rotate(318deg) brightness(104%) contrast(103%);
}

.chevron-right {
    rotate: 180deg;
}

/* ============================ Header ============================ */
.header {
    padding-top: 28px;
    background: var(--secondary-color);
}

.header .header-top {
    display: flex;
    align-items: center;
}

.header.fixed {
    position: sticky;
    top: -8px;
    z-index: 999;
    padding-bottom: 4px;
    background: var(--secondary-color);
}

.navbar__list {
    display: flex;
    margin-left: 297px;
}

.navbar__list .navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 8px 21px;
    transition: text-shadow 0.3s;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 #fff;
}

.navbar__link--active::before {
    display: inline-block;
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action {
    margin-left: auto;
}

.header-action__login {
    color: var(--header-font-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    transition: text-shadow 0.3s;
}

.header-action__login:hover {
    text-shadow: 1px 0 0 #fff;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 8px 20px;
    margin-left: 28px;
    border-radius: 22px;
}

/* ============================ Header - Hero ============================ */
.hero-bottom {
    min-height: 93vh;
    background: var(--secondary-color);
}

.hero-bottom .container {
    padding-top: 136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44%;
}

.hero-heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero-desc {
    margin-top: 22px;
    color: var(--header-font-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero-img-wrapper {
    display: flex;
    align-items: center;
    /* width: 45.6%; */
}

.hero-img-1 {
    z-index: 1;
    width: 330px;
    height: 540px;
}

.hero-img-2 {
    position: relative;
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

.hero-img {
    border-radius: 6px;
    object-fit: cover;
}

.hero-booking {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* ============================ Services ============================ */
.services {
    padding: 65px 0;
    margin-top: 105px;
}

.services-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__label {
    line-height: 1.2;
    letter-spacing: -1px;
}

.services__desc {
    margin-top: 18px;
    width: 468px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.67;
}

.services-bottom {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-item {
    display: flex;
    width: 470px;
    height: 128px;
    padding: 22px;
    transition: box-shadow 0.3s;
}

.services-main-img .services-img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services-item__left {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    transition: color, background-color;
    transition-duration: 0.3s;
}

.services-item:hover .services-item__left {
    color: #fff;
    background: var(--primary-color);
}

.services-item__right {
    margin-left: 19px;
}

.services-item:hover {
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services-item__title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__desc {
    margin-top: 8px;
    width: 351px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.services-cta {
    margin-top: 55px;
}

/* ============================ How it works ============================ */
.how-it-works {
    padding: 100px 0 116px;
    margin-top: 170px;
    background: #f6fbff;
}

.how-it-works__desc {
    width: 468px;
    margin-top: 18px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.how-it-works-bottom {
    margin-top: 70px;
}

.how-it-works-group {
    display: flex;
}

.how-it-works-item:hover {
    transform: translateY(-25px);
    border: 16px solid #2e80ce;
}

.how-it-works-item:hover .how-it-works-item__cta {
    color: var(--primary-color);
}

.how-it-works-item {
    width: 33.33%;
    padding: 43px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: transform, border, color;
    transition-duration: 0.4s;
}

.how-it-works-item + .how-it-works-item {
    margin-left: 30px;
}

.how-it-works-item__title {
    margin-top: 18px;
}

.how-it-works-item__desc {
    margin-top: 28px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.how-it-works-item__cta {
    display: inline-block;
    padding: 4px;
    margin-top: 18px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* ============================ Features ============================ */
.features {
    padding: 65px 0;
    margin-top: 105px;
}

.features-content {
    display: flex;
}

.features-left {
    width: 48.7%;
}

.features-img {
    object-fit: cover;
    border-radius: 6px;
}

.features-left {
    position: relative;
}

.features-img:first-child {
    width: 512px;
    height: 370px;
}

.features-img:nth-child(2) {
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
    height: 370px;
}

.features-right {
    margin-top: 82px;
    margin-left: 188px;
}

.features-right__heading {
    line-height: 1.2;
    letter-spacing: -1px;
}

.features-right__desc {
    margin-top: 18px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.features-right__cta {
    margin-top: 38px;
}

/* ============================ Members ============================ */
.members {
    padding: 65px;
    margin-top: 123px;
}

.members-top {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.members-cta {
    margin-top: 38px;
}

.members-group {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
}

.members-img-wrapper {
    background-color: #eaf6ff;
    padding-top: 28px;
    border-radius: 6px;
    overflow: hidden;
}

.members-img-wrapper:hover .members-img {
    transform: scale(1.1);
    cursor: pointer;
}

.members-img {
    transition: 0.25s;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    overflow: hidden;
}

.members-info-wrapper {
    margin-top: 12px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.members-item__desc {
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

/* ============================ Install app ============================ */
.install {
    margin-top: 200px;
}

.install-content {
    display: flex;
    column-gap: 160px;
    height: 427px;
    background-color: var(--primary-color);
}

.install-content__left {
    position: relative;
    bottom: 95px;
    margin-left: 70px;
}

.install-content__right {
    max-width: 586px;
    margin: 76px 0 75px;
}

.heading.lv2.install-heading {
    color: #fff;
}

.install-desc {
    margin-top: 22px;
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67;
}

.install-app {
    margin-top: 38px;
}

.install-app__icon + .install-app__icon {
    margin-left: 28px;
}

/* ============================ Blog ============================ */
.blog {
    padding: 85px 0;
    margin-top: 85px;
}

.blog-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-left {
    width: 40%;
}

.blog-cta {
    margin-top: 28px;
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.blog-switch {
    margin-top: 28px;
    justify-content: flex-start;
}

.blog-group {
    display: flex;
    column-gap: 30px;
}

.blog-post {
    max-width: 270px;
    background-color: #fff;
    border-radius: 12px;
    transition: box-shadow 0.25s;
    overflow: hidden;
}

.blog-post:hover {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.1);
}

.blog-post:hover .blog-post__content {
    border-color: #fff;
}

.blog-post:hover .blog-thumb {
    transform: scale(1.1);
}

.blog-thumb-wrapper {
    height: 172px;
    overflow: hidden;
}

.blog-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    vertical-align: bottom;
    transition: transform 0.25s;
}

.blog-post__content {
    padding: 22px;
    border-radius: 0 0 12px 12px;
    border: 1px solid #e8ebee;
    border-top: none;
}

.blog-post__heading {
    font-weight: 400;
    line-height: 1.62;
}

.blog-post__desc {
    margin-top: 10px;
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.blog-post__cta {
    margin-top: 12px;
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.blog-post__cta:hover {
    color: #2e80ce;
}

/* ============================ Appointment ============================ */
.appointment {
    margin-top: 85px;
}

.appointment-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background: #f6fbff;
}

.appointment-heading {
    position: relative;
    padding-bottom: 22px;
}

.appointment-heading::after {
    display: inline-block;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 136px;
    height: 2px;
    background-color: var(--primary-color);
}

.appointment-desc {
    max-width: 617px;
    margin-top: 20px;
    color: var(--desc-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.appointment-btn {
    margin-top: 38px;
}

/* ============================ Footer ============================ */
.footer {
    font-family: "Open Sans";
    padding: 100px 0 42px;
    margin-top: 170px;
    background-color: var(--secondary-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-column.column-1 {
    width: 28.7%;
}

.footer-column__desc {
    margin-top: 21px;
    color: var(--footer-font-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.column-label {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.column-items {
    margin-top: 20px;
}

.column-items a {
    color: var(--footer-font-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    transition: color, text-decoration, opacity;
    transition-duration: 0.25s;
}

.column-items a:hover {
    color: #aaaaaa;
    text-decoration: underline;
    opacity: 0.8;
}

.column-items li:not(:first-child) {
    margin-top: 10px;
}

.footer-column__bottom {
    margin-top: 28px;
}

.social-group {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}

.social-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.25s;
}

.social-icon {
    color: var(--primary-color);
    transition: color 0.3s;
}

.social-bg:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.social-bg:hover .social-icon {
    color: #fff;
}

.subscription-group {
    margin-top: 10px;
}

.subscription-desc {
    max-width: 273px;
    margin-top: 20px;
    color: var(--footer-font-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

input[type="email"] {
    width: 212px;
    height: 46px;
    color: #fff;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #406181;
    background-color: transparent;
}

input[type="email"]:focus {
    outline: none;
}

input[type="email"]::placeholder {
    color: #9ca8b1;
}

.subscribe-btn {
    min-width: 108px;
    --height: 46px;
    font-size: 1.4rem;
    margin-left: 12px;
    border-radius: 4px;
}

.subscription-group form {
    display: flex;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    margin-top: 30px;
    border-top: 1px solid #406181;
}

.copyright-label {
    color: #aab3ba;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
